@import url(globais.css);

.sec-1 {
  padding-left: 15%;
  padding-right: 15%;
}

.sec-1 > h4 {
  margin-top: 30px;
}

form {
  background-color: var(--bg-form);
  padding: 30px;
  border-radius: 10px;
  display: block;
}

input {
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #dadada;
  height: 40px;
}

.box-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box-1 > input {
  width: 49.5%;
}

.box-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box-2 > input {
  width: 24.5%;
}

.btn-form {
  background-color: var(--btn-submit);
  color: #fff;
  border: none;
}

@media screen and (max-width: 800px) {
  .box-1,
  .box-2 {
    flex-direction: column;
  }

  .box-1 > input,
  .box-2 > input {
    width: 100%;
  }
}

/* - - - - SEC - 2 - - - - -*/
.sec-2 {
  width: 100%;
  margin-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
}

.container_tabela_produtos {
  overflow-x: auto;
}

table {
  width: 100%;
  border: solid 2px #dadada;
}

td > p {
  text-align: center;
  margin-top: 10px;
}

.btn_deletar,
.btn_editar {
  border: none;
  padding: 8px;
  width: 65px;
  border-radius: 5px;
  color: #fff;
}

.btn_deletar {
  background-color: var(--btn-table-delet);
}

.btn_editar {
  background-color: var(--btn-table-edit);
}

/* Modais */
.bg_modal {
  display: none;
  align-items: center;
  justify-content: center;
  background: #4e4e4e75;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  animation: float ease-in-out normal;
  animation-duration: 0.5s;
  transition: 0.3s;
}

.bg_modal > .modal_delet {
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  display: none;
}

.modal_delet > div > button {
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #e5e5e5;
}

.bg_modal > .modal_editar {
  width: 100%;
  position: absolute;
  display: none;
  justify-content: center;
}

.modal_editar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_editar > #edit_form_produto {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 10px 10px 0px 0px;
}

#edit_form_produto > input {
  margin-top: 0;
  padding: 10px;
}

#edit_form_produto > .box-1 {
  display: flex;
  justify-content: center;
}

#edit_form_produto > .box-1 > input {
  width: 50%;
  padding: 0px 6px 0px 6px;
  margin: 0;
  background-color: var(--btn-submit);
  border: none;
  height: 40px;
}

.container_btn_cancelar {
  background-color: var(--bg-form);
  padding: 20px;
  padding-top: 0;
  border-radius: 0px 0px 10px 10px;
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

.container_btn_cancelar > button {
  width: 50%;
  padding: 0px 6px 0px 6px;
  margin-top: 10px;
  background-color: #dbe9e9;
  border: none;
  height: 40px;
  border-radius: 5px;
}

/* Mensagem waring */
.warning_produtos {
  background: linear-gradient(90deg, #ff4949, #ff6767, #ffffff00);
  filter: drop-shadow(-1px 3px 3px #0000007a);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 7px;
  width: 100%;
  align-items: center;
  display: none;
}

.warning_produtos > h6 {
  margin: 0px 20px;
}
